# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/TE3201-Software-Engineering.iml
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/
amyca/__pycache__/__init__.cpython-37.pyc
amyca/__pycache__/amyca.cpython-37.pyc
amyca/__pycache__/cost.cpython-37.pyc
amyca/__pycache__/deadline.cpython-37.pyc
amyca/__pycache__/display.cpython-37.pyc
amyca/__pycache__/my_calendare.cpython-37.pyc
amyca/__pycache__/project.cpython-37.pyc
amyca/__pycache__/resource.cpython-37.pyc
amyca/__pycache__/storage.cpython-37.pyc
amyca/__pycache__/timeline.cpython-37.pyc
amyca/__pycache__/todo.cpython-37.pyc
